.text-primary-corp{
    font-weight: 700;
    color: #7F0E06;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

:host ::ng-deep  p-calendar .ui-calendar .ui-datepicker{
    background-color: #ffffff;
}

:host ::ng-deep  p-calendar .ui-calendar input{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
}

:host ::ng-deep  p-calendar .ui-calendar, .ui-calendar span, .ui-calendar input{
    width: 100%;
}

:host ::ng-deep  p-dropdown .ui-dropdown {
    width: 100%;
}

:host ::ng-deep  p-multiSelect .ui-multiselect{
    width: 100%;
}

:host ::ng-deep  p-multiSelect .ui-multiselect-filter-container input{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: unset;
    border-bottom: 1px solid #fb8c00;
}

:host ::ng-deep  p-multiSelect .ui-multiselect-header .ui-multiselect-filter-container
.ui-multiselect-filter-icon {
    left: unset;
}

:host ::ng-deep  p-multiSelect .ui-multiselect .ui-multiselect-panel{
    background-color: #ffffff;
}

.pagewidth{
    float: right;
    min-width: 80px;
}
.ui-inputgroup .ui-inputgroup-addon{
    border: none;
}

tr td{
    vertical-align: middle;
}

.text-corp{
    color: #7F0E06;
}

:host ::ng-deep .ui-dropdown-panel .ui-dropdown-list {
    background-color: #fff !important;
}

:host ::ng-deep .select:hover{
    background-color: #F5B90E;
    color: #ffffff;
    .ui-dropdown-items-wrapper{
        color: #212529;
    }    
}

:host ::ng-deep .ui-editable-column{
    background: #fff;
    box-shadow: inset 0 0 2px #000;
    color: #000;
    i{
        float: right;
        margin-top: 5px;
    }
}

:host ::ng-deep p-paginator a {
    color: #7F0E06;
    font-size: 15px;
    font-weight: 600;
}

:host ::ng-deep .ui-state-active{
    background-color: #7F0E06;
    color: #ffffff;
    min-width: 28px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding-top: 1.5px;
    margin-top: -3px;
}

:host ::ng-deep .ui-datepicker-calendar-container .ui-state-disabled {
    background-color: #3a1e1c33;
    color: #000;
    min-width: 28px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    opacity: .7;
}

:host ::ng-deep .ui-datepicker td>span{
    padding: .3em;
}

.footpaginator{
 margin-top: 25px;
 position: relative;
}

.totalRow{
    position: absolute;
    top:1px;
    right:5px;
    margin: 5px;
}


.card .custom-checkbox  {
    margin-top: 15px;
}

.custom-checkbox .custom-control-label{
    cursor: pointer;
    position: relative;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    border-color: #ffa726;
    background-color: #ffa726;
    box-shadow: none;
}

.custom-control-label::before, .custom-control-label::after  {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

:host ::ng-deep .ui-paginator{
    margin-top: 15px;
}

.thinput{
    width: 20%;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #7F0E06 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.margin-left{
    margin-left: 1rem;
}

::ng-deep .button-edit{
    position: relative;
}
::ng-deep .article-edited{
    position: relative;
    background-color: #ffa82657 !important;
    &:hover{
        color: #000 !important;
    }
}

::ng-deep .edited-button{
    position: absolute !important;
    left: -40px;
    animation: selection 3s infinite;
}

@keyframes selection {
    0% {
        left: -40px;
    }
    50% {
        left: -45px;
    }
    100% {
        left: -40px;
    }
}

:host ::ng-deep  .ui-table-wrapper{
    overflow: unset !important;
}

:host ::ng-deep .overflow-unset{
    overflow: unset !important;
}

:host ::ng-deep .ui-dropdown{
    min-width: 100% !important;
}

:host ::ng-deep label.ui-dropdown-label, .ui-dropdown-items-wrapper{
    color: #212529;
}
:host ::ng-deep .ui-calendar{
    max-width: 30%;
}

.text-observation, .text-nombre{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 25px;
}
