<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
	  <modules>
        <remove name="WebDAVModule" />
      </modules>   
      <aspNetCore processPath="dotnet" arguments=".\EVO_PV_WebApi.dll" stdoutLogEnabled="false" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 66e07d58-65c2-462a-84b2-8b71ea016075-->