
.pagewidth{
    float: right;
    min-width: 80px;
}
.ui-inputgroup .ui-inputgroup-addon{
    border: none;
}

tr td{
    vertical-align: middle;
}

.text-corp{
    color: #7F0E06;
}

.text-corp th{
    font-weight: 600;
}

:host ::ng-deep .ui-dropdown-panel .ui-dropdown-list {
    background-color: #fff !important;
}

:host ::ng-deep .select:hover{
    background-color: #F5B90E;
    color: #ffffff;
}

:host ::ng-deep p-paginator a {
    color: #7F0E06;
    font-size: 15px;
    font-weight: 600;
}

:host ::ng-deep .ui-state-active{
    background-color: #7F0E06;
    color: #ffffff;
    min-width: 25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding-top: 1.5px;
    margin-top: -3px;
}

.footpaginator{
 margin-top: 25px;
 position: relative;
}

.totalRow{
    position: absolute; 
    top:1px; 
    right:5px; 
    margin: 5px;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #F5B90E 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);

}

.modalrow{
    padding: 15px;;
}

.contentparams{
    word-wrap: break-word;
}
