/* You can add global styles to this file, and also import other style files */

$color-mustard: #F5B90E;

$color-burgundy-dark: #630B09;

$color-burgundy-light: #630B09;

$color-green-dark: #40A629;

$color-green-light: #80C41C;

