<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CODIGO_PUNTO_VENTA" value="PV-ENV" />
    <add key="NOMBRE_PUNTO_VENTA" value="PUNTO DE VENTA PORCICARNES SAN ANTONIO DE PRADO" />
    <!--<add key="API_EVO_PV" value="http://192.168.1.102:8081/api/" />
    <add key="API_EVO" value="http://192.168.1.102:5000/api/" />-->
    <!--<add key="API_EVO_PV" value="http://192.168.1.103:8081/api/" />
    <add key="API_EVO" value="http://192.168.1.103:5000/api/" />-->
    <add key="API_EVO_PV" value="http://127.0.0.1/EVO_PV_WebApi/api/" />
    <add key="API_EVO" value="http://127.0.0.1/EVO_WebApi/api/" />
    <!--Valor de la base de datos para enviar a sap mediante el XML, Es decir es el nombre de la base de datos de SAP -->
    <add key="BaseDeDatos" value="PRU_ANT" />
    <!--Valor de la tabla para asignar al XML, Es decir es el nombre de la tabla donde llega la información -->
    <add key="Tabla" value="OWTQ" />
    <!--Valor de la llave primaria, Es decir es la llave primaria de la tabla -->
    <add key="LlavePrimaria" value="DocEntry" />
    <!--Valor de la llave primaria-->
    <add key="ValorLlave" value="0" />
    <!--Es el valor que tiene la acción del XML, Es decir es la accion que va hacer el xml "Insertar" -->
    <add key="Accion" value="Add" />
    <!--Este es el nombre de la tabla del detalle, Es decir es larelacion d la tabla encabezado con la tabla detalle -->
    <add key="TablaDetalle" value="WTQ1-DocEntry" />
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\EVO_PV_WebApi.dll" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: b68f9552-f96a-4d85-954e-b29f566cf532-->